[submodule "ImGui"]
	path = ImGui/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "box2d"]
	path = Box2D
	url = https://github.com/erincatto/box2d.git
[submodule "yaml"]
	path = yaml
	url = https://github.com/jbeder/yaml-cpp.git
